.accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordian-heading {
  font: 16px;
  font-weight: 700;
}

.accordian-content {
  transition: 1s linear;
}

.accordian-header img {
  cursor: pointer;
}
